@page
@model LancaProj.Pages.LancaTable.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adm.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adm.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adm.Funcao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adm.Funcao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adm.Dia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adm.Dia)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Adm.ID">Editar</a> |
    <a asp-page="./Index">Voltar para lista</a>
</div>
